{% extends 'base.html' %}

{% block content %}

<div class="container pt-4">
        <div class="row  mt-4">
            <div class="col-lg-6 ">
                <div class="border">
                    <div class="m-3">
                        <div class="alert alert-primary text-center ">
                            <h2 class="mt-2"> {{stock.name}}</h2>
                        </div>
                        <div class="text-center">
                            <p class="">{{stock.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-2">
                <a class="btn btn-primary" href="/stock/{{stock.slug}}/export-data" role="button">Export Stock Data</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{stock.videourl}}" 
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

